*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 104vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: hotpink;
    font-size: 32px;
    font-family:Arial;
    padding-left: 20px;
    margin-top: revert;
    float:left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items:center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight:bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color:hotpink;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid hotpink;
    margin-top: 13px;
    color: #FFF;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 41px;
    background: hotpink;
    border: 2px solid rgb(75, 19, 47);
    margin-top:  13px;
    color:#fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.cuntent{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    color: white;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    color: white;
    font-family: Arial;
    font-size: 36px;
    padding-left: 20px;
    margin-top:9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: hotpink;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration:none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: white;
}
.content span{
    color:hotpink;
    font-size: 47px;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 192px;
    left: 1082px;
    border-radius: 33px;
    padding: 25px;
}
.form h2{
    width: 220px;
    border-radius: 8px;
    font-family: sans-serif;
    color: hotpink;     
    text-align: center;
    font-size: 26px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid hotpink;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}
.btn2{
    width: 240px;
    height: 40px;
    background: hotpink;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4 ease;
}
.btn2:hover{
    background: white;
    color: hotpink;
}
.btn2 a{
    text-decoration:none;
    color: black;
    font-weight:bold ;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font: size 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}
.form .link a{
    text-decoration: none;
    color: hotpink;
}
.liw{
    padding-top:15px;
    padding-bottom:10px;
    text-align: center;
    color: white;
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding: 8px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: hotpink;
}